/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }

    .home-img-eth{
        width: 80px;
    }
    .home-img-orbe{
        width: 230px;
    }
    .home-data{
        right: .5rem;
    }
    .home-footer{
        flex-direction: column;
        row-gap: 2rem;
    }
}

/* For medium devices */
@media screen and (min-width: 767px) {
    .nav{
        height: calc(var(--header-height) + 1.5rem );
    }
    .nav-toggle,
    .nav-close,
    .nav-img{
        display: none;
    }
    .nav-list{
        flex-direction: row;
        column-gap: 4rem;
    }
    .home-container{
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        align-items: center;
        gap: 2rem 4rem;
    }
    .home-group{
        grid-row: 1/3;
        grid-column: 2/3;
        align-self: center;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .home-title{
        margin-bottom: 1rem;
    }
    .home-description{
        margin-bottom: 3rem;
    }
    .home-img-orbe{
        width: 500px;
    }
    .home-img-eth{
        width: 300px;
    }
    .home-data{
        top: 10rem;
        right: 0;
        row-gap: 2.5rem;
    }
    .home-shape-small,
    .home-shape-big-1,
    .home-shape-big-2{
     filter: blur(130px);
    }
    .home-shape-small{
  width: 150px;
  height: 150px;
  background-color: var(--first-color);
  top: -2.5rem;
  left: -1.5rem;
}
}